version: '3'

services:

  mcs:
    build: .
    shm_size: '512mb'
    hostname: mcs
    container_name: mcs
    volumes:
      - data1:/var/lib/columnstore/data1
      - storagemanager:/var/lib/columnstore/storagemanager
    ports:
      - 3306:3306

volumes:
  data1:
  storagemanager:
